#charser "UTF-8";
  *{
    font-family: Arial, Helvetica, sans-serif;
    }

body{
    background-image: linear-gradient(to right, #1493DC, #113747);
    background-size: fixed;  
    }
		
		
div#Tudo{
    background-image: linear-gradient(to right, #0B364C, #092634);
    color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    min-width: 100px;
    max-width: 400px;
    }
		
		
fieldset{
    border-color: #268EEB;
     }
		
		
legend{
    text-align: center;
    border: none;
    background-image: linear-gradient(to right,#298FEB ,#2E98F7);
    color: white;
    padding: 7px;
    border-radius: 5px;
    }
		  
		  
main{
    margin-right: 50%;
    }
     
		  
p{
   display: inline-block;
   margin-right: 10%;
   }
		  
		  
	 
input{
   background: transparent;
   border: none;
   outline: none;
   color: white;
   }
	 
	 
div.Radio > p{
   display: flex;
   }
	 
	 
div.Radio{
   float: left;
   }
	
	
span{
   float: left;
   display: inline-block;
    }
	

	
#data_nascimento{
    position: absolute;
    width: 100px;
    height: 30px;
    margin-top: -7px;
    margin-left: 20px;
    border: none;
    border-radius: 7px;
    background-color: white;
    color: black;
    outline: none;
     }
	 
	 
hr{
   width: 200%;
   }
	 
	 
button{
   background-image: linear-gradient(to right, #0857B2, #3C0DA1);
   color: white;
   width: 100%;
   height: 40px;
   border: none;
   border-radius: 5px;
   margin-top: 3%;
   }
